*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
  font-size: 13px;
} */
img {
  width: 100%;
}

.blog {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.5rem;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 10px;
}

.blog-post {
  width: 70%;
  margin-top: 20%;
  height: 60%;
  max-width: 98rem;
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 5rem;
  background-color: #eee;
  box-sizing: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}

.blog-post_img {
  min-width: 25rem;
  max-width: 35rem;
  height: 20rem;
  transform: translateX(-8rem);
  position: relative;
}

.blog-post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.blog-post_img::before {
  content: "";

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(79, 172, 254, 0.8),
    rgba(0, 242, 254, 0.8)
  );
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}

.blog-post_date span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: 600;
  margin: 0.5rem 0;
}

.blog-post_title {
  font-size: 40px;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-post_text {
  margin-bottom: 3rem;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.blog-post_cta {
  display: inline-block;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 60%);
  border-radius: 0.8rem;
  text-decoration: none;
}

.blog-post_cta:hover {
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

@media screen and (max-width: 1086px) {
  .blog-post {
    max-width: 50rem;
  }
  .blog-post_img {
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 70rem;
  }
}

@media screen and (max-width: 768px) {
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }
  .blog-post_img {
    min-width: 100%;
    max-width: 100%;

    transform: translate(0, -4rem);
  }
}
