@font-face {
  font-family: "product_sans_bold-webfont";
  src: local("product_sans_bold-webfont"),
    url(/src/assets/fonts/product_sans_bold-webfont.woff) format("woff");
}

html {
  font-family: "product_sans_bold-webfont";
}
.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.4s;
}

.container .card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container .card .content .imgBx {
  position: relative;
  margin-bottom: 10px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container .card .content .contentBx h3 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 20px;
  line-height: 1.1rem;
}

.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}
.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.4s;
  opacity: 0;
  transition-delay: calc(0.1% * var(--i));
}

.container .card:hover .sci li {
  transform: translateY(5px);
  opacity: 1;
}

.container .card .sci li a {
  color: black;
  font-size: 24px;
}

.events-scroll-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .events-scroll-container {
    margin: 0;
  }
}

.events-container {
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.events-container::-webkit-scrollbar {
  background-color: white;
  border-radius: 10px;
  width: 10px;
}

.events-container::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  border: 5px solid white;
}

.events-container::-webkit-scrollbar-thumb:vertical {
  height: 15px !important;
  width: 15px;
}

.event-tilt-card {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
  color: white;
  /* padding: 5px; */
  margin-right: 4px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 5px 15px 0 #79797947;
  border-radius: 10px;
}

.event-card-bg {
  /* opacity: .5; */
  position: relative;
  /* top: -20px; */
  left: -20px;
  width: 115%;
  height: 115%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: cubic-bezier(0.03, 0.98, 0.52, 0.99) 1s,
    opacity cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.events-scroll-button {
  height: min-content;
  text-align: center;
  align-self: center;
  position: absolute !important;
  height: 40px !important;
  cursor: pointer;
  width: 40px !important;
  box-shadow: 0 0 4px 0 #00000050;
  z-index: 3;
  background-color: #ffffffb0 !important;
}

.events-scroll-button:focus {
  outline: none;
}

.eventsHeading {
  margin-left: 30px;
  margin-top: 50px;
  color: grey;
}

.event-tab:focus {
  outline: none;
}

.left-button {
  margin-right: 10px;
  margin-left: 5px;
  left: 0;
}

.right-button {
  margin-left: 10px;
  margin-right: 5px;
  right: 0;
}
